.admin-wrap{
    @include layout(100%, auto);

    .section-subtitle{
        margin-bottom: 24px;
    }
    .admin-content--wrap{
        @include flex(flex-start, center);
        gap: 24px;
    }
    .admin-left{
        @include layout(20%, auto);
        padding: 36px;
        background-color: $primary-30;
        border-radius: 16px;

        ul{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 24px;

            li{
                position: relative;
                padding-left: 8px;
                @include font($ns, 18px);
                cursor: pointer;

                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -10px;
                    transform: translateY(-50%);
                    @include layout(8px, 8px);
                    background-color: $primary;
                    border-radius: 50%;
                }
                a{
                    transition: all 0.3s;

                    &:hover{
                        color: #295;
                    }
                }
            }
        }
    }
    .admin-right{
        @include layout(80%, auto);
        min-height: 500px;
        padding: 36px;
        background-color: #e7e7e7;
        border-radius: 16px;

        .section-subtitle{
            font-size: 32px;
            color: $primary;
        }
        .destination-wrap{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 16px;
            @include layout(100%, 100%);
        }
        .destination-left, .destination-right{
            @include layout(50%, 100%);
            padding: 32px;
            background-color: #fff;
            border-radius: 16px;
            
        }
        .destination-left{
            ul{
                @include flex(flex-start, flex-start);
                flex-direction: column;
                gap: 16px;
                @include layout(100%, 100%);
    
                li{
                    position: relative;
                    padding-left: 8px;
                    @include font($ns, 18px);
    
                    &:before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: -10px;
                        transform: translateY(-50%);
                        @include layout(8px, 8px);
                        background-color: $primary;
                        border-radius: 50%;
                    }
                }
            }
        }
        .destination-right{
            form{
                label{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 16px;
                    margin-bottom: 16px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                    span{
                        color: $primary;
                    }
                }
            }
        }
        .btn-wrap{
            @include flex();
            gap: 8px;
            margin-top: 40px;

            button{
                @include layout(120px, 40px);
                @include border(0, #000, 8px);
                background-color: $primary-50;
                color: #000;
                cursor: pointer;
            }
        }
    }
}

.link-wrap{
    margin: 30px 0;
}